@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row">
    <article class="news-feed">
        <span>What's New?</span> | We have just welcome Mill 1, Mill 2, Mill 3, and Mill 4
    </article>
</div>
