@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<div class="carousel slide" id="myCarousel">
    <div class="carousel-inner">
        <div class="item active">
            <article class="col-md-4">
                <div class="card card-with-image">
                    <div class="card-inner">
                        <div class="card-title-image">
                            <img src="~/App/img/card-img.jpg" alt="" />
                        </div>
                        <div class="card-text">
                            <p>When the largest mills make the switch to TAPPISAFE for knowledge, it's time to listen.</p>
                        </div>
                        <div class="card-action">
                            <a href="">Get Started with TAPPISAFE <i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-4">
                <div class="card card-with-image">
                    <div class="card-inner">
                        <div class="card-title-image">
                            <img src="~/App/img/card-img.jpg" alt="" />
                        </div>
                        <div class="card-text">
                            <p>When the largest mills make the switch to TAPPISAFE for knowledge, it's time to listen.</p>
                        </div>
                        <div class="card-action">
                            <a href="">Get Started with TAPPISAFE <i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-4">
                <div class="card card-with-image">
                    <div class="card-inner">
                        <div class="card-title-image">
                            <img src="~/App/img/card-img.jpg" alt="" />
                        </div>
                        <div class="card-text">
                            <p>When the largest mills make the switch to TAPPISAFE for knowledge, it's time to listen.</p>
                        </div>
                        <div class="card-action">
                            <a href="">Get Started with TAPPISAFE <i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="item">
            <article class="col-md-4">
                <div class="card card-with-image">
                    <div class="card-inner">
                        <div class="card-title-image">
                            <img src="~/App/img/card-img.jpg" alt="" />
                        </div>
                        <div class="card-text">
                            <p>When the largest mills make the switch to TAPPISAFE for knowledge, it's time to listen.</p>
                        </div>
                        <div class="card-action">
                            <a href="">Get Started with TAPPISAFE <i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-4">
                <div class="card card-with-image">
                    <div class="card-inner">
                        <div class="card-title-image">
                            <img src="~/App/img/card-img.jpg" alt="" />
                        </div>
                        <div class="card-text">
                            <p>When the largest mills make the switch to TAPPISAFE for knowledge, it's time to listen.</p>
                        </div>
                        <div class="card-action">
                            <a href="">Get Started with TAPPISAFE <i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <a data-slide="prev" href="#myCarousel" class="carousel-control left"><span class="material-icons">keyboard_arrow_left</span></a>
    <a data-slide="next" href="#myCarousel" class="carousel-control right"><span class="material-icons">keyboard_arrow_right</span></a>
</div>