<?xml version="1.0" encoding="utf-16"?>
<!DOCTYPE root [<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 
<!ELEMENT Components ANY>
<!ATTLIST Components id ID #REQUIRED>
<!ELEMENT Rootdoctype ANY>
<!ATTLIST Rootdoctype id ID #REQUIRED>
<!ELEMENT Slider ANY>
<!ATTLIST Slider id ID #REQUIRED>

]>
<root id="-1">
  <Rootdoctype id="1055" key="624498f8-9aab-46a3-8522-963d28849ef4" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-10-14T17:22:50" updateDate="2015-10-14T17:22:50" nodeName="Sliders" urlName="sliders" path="-1,1055" isDoc="" nodeType="1046" creatorName="Colin McFadden" writerName="Colin McFadden" writerID="0" template="1047" nodeTypeAlias="Rootdoctype">
    <Slider id="1056" key="119062be-f68d-44f7-b70f-7db0ccd72119" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2015-10-14T17:23:32" updateDate="2015-10-14T17:23:32" nodeName="Home Slider" urlName="home-slider" path="-1,1055,1056" isDoc="" nodeType="1053" creatorName="Colin McFadden" writerName="Colin McFadden" writerID="0" template="1052" nodeTypeAlias="Slider" />
    <Slider id="1057" key="9db1e306-a5ee-4f3c-813b-5ab4003a1d8b" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2015-10-14T17:24:14" updateDate="2015-10-14T17:24:14" nodeName="Sponsor Slider" urlName="sponsor-slider" path="-1,1055,1057" isDoc="" nodeType="1053" creatorName="Colin McFadden" writerName="Colin McFadden" writerID="0" template="1052" nodeTypeAlias="Slider" />
  </Rootdoctype>
  <Home id="1065" key="5432eb79-d5a0-4a30-9a8d-1e145c9b278f" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2015-10-14T17:30:09" updateDate="2015-10-14T17:30:09" nodeName="TAPPISAFE" urlName="tappisafe" path="-1,1065" isDoc="" nodeType="1058" creatorName="Colin McFadden" writerName="Colin McFadden" writerID="0" template="0" nodeTypeAlias="Home" />
</root>